In [1]:
import pandas as pd
from datetime import datetime, date
from perspective import PerspectiveWidget

In [11]:
# schema
df = pd.DataFrame([
    {
       'int': 1,
       'float': 1.5,
       'string': '20150505',
       'date': date.today(),
       'datetime': datetime.now(),
       'object': datetime.now(),
    },
    {
       'int': 1,
       'float': 1.5,
       'string': '20150506',
       'date': None,
       'datetime': None,
       'object': None,
    },
])

In [3]:
df

,date,datetime,float,int,object,string
0,2019-02-16,2019-02-16 10:38:53.679914,1.5,1,<class 'datetime.datetime'>,20150505
1,None,NaT,1.5,1,None,20150506

In [4]:
psp = PerspectiveWidget(df)